@import url('./index.css');
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#navbar {
  padding: 1vh 10vw .5vh;
  display: flex;
  justify-content: space-between;
  background-color: rgba(126, 140, 153, 0.075);
}

.nav-link {
  /* color:  */
  transition: visibility .5s ease;
  transition: color .2s ease-out;
}

.navbar-right {
  display: flex;
  width: 40vw;
  justify-content: space-between;
}

.nav-active {
  visibility: hidden;
  opacity: 0;
}

button:disabled {
  opacity: 0.3;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
