@import url('./index.css');

div#hero-main {
  height: 400px;
  width: 100%;
  background-image: url("../_images/001edit_again.jpg");
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: .4;
}